<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>
        <center>База данных сотрудников банка</center>
    </h1>
    <center>
        <table bgcolor="#008000">
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>День рождения</th>
                <th>Отдел</th>
                <th>Дата трудоустройства</th>
                <th>Зарплата</th>
            </tr>
            <tr th:each="list:${getAll}">
                <td th:text="${list.id}">Nothing</td>
                <td th:text="${list.name}">Nothing</td>
                <td th:text="${list.surname}">Nothing</td>
                <td th:text="${list.birthday}">Nothing</td>
                <td th:text="${list.department}">Nothing</td>
                <td th:text="${list.dateGetJob}">Nothing</td>
                <td th:text="${list.salary}">Nothing</td>
                <td><a th:href="${list.id} + '/editEmployee'">Редактировать</a></td>
                <td><a th:href="${list.id} + '/deleteEmployee'">Удалить</a></td>
            </tr>
        </table>
    </center>
<br>
    <a href="/addNewEmployee">Добавить нового работника</a>
</body>
</html>